body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
header{
    height: 60px;
    background-color: inherit;       
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    box-shadow: 15px 5px 5px 5px #00000050;
}
.container{
    background-image: url('../C1.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
#expertise h1{
    text-align: center;
    margin-top: 35px;
    text-decoration:underline;
}
#projet h1{
    text-align: center;
    margin-top: 35px;
    text-decoration:underline;
}
footer{
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    display: table;
    margin-top: 2rem;
    background-color: rgb(76, 76, 76);
}

.conteneurFooter{
    display: flex;
    height: fit-content;
}

.btn{
    padding: 1.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
    border: 2px ;
    cursor: pointer;
    font-size: 1.25rem;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

#footer p {
    margin: 0;
    font-size: 16px;
}

#footer a {
    color: #fff;
    text-decoration: none;
}

.conteneurFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.div-img {
    flex: 0 0 auto; /* empêche le redimensionnement des images */
    margin-bottom: 20px;
}

.div-img > img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.div-infoCadre {
    flex: 1 1 300px; /* permet au cadre d'information de se redimensionner */
    background-color: #555;
    color: #fff;
    padding: 1rem;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.div-info {
    font-size: 16px;
    text-align: center;
}
.Expertise, .Projets{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin: 4rem 5rem 0 5rem;
    padding: 3rem;
    border-radius: 1rem;
}
.exper-interne{
    box-shadow: 0 7px 7px rgb(248, 6, 6);
    margin: 0.25rem;

}
.exper-interne h2 img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: auto; /
}
#Contact {
    text-align: center;
    margin-bottom: 5vh; 
}

#Contact h3 {
    width: 80%; 
    max-width: 400px; 
    text-transform: uppercase;
    margin-bottom: 3vh; 
    font-size: 3.5vw; 
    color: #444;
    border-bottom: 1.5px solid #02b8dd;
    padding-bottom: 2vh; 
    margin-left: auto;
    margin-right: auto; 
}

#Contact .info {
    font-weight: bold;
    color: rgb(101, 167, 232);
    font-size: 3vw; 
}

.div-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.div-info input{
    width: 100%;
    height: 2rem;
    background-color: rgb(132, 119, 214);
    font-weight: bold;
    font-weight: bold;
    color: white;
}

.envoifichier{
    margin: 1rem 1rem;
   
}

.text-white{
    color: rgb(250, 250, 250);
}
.avatar {
    height: 55px;
    max-height: 55px;
    max-width: 55px;
}
.avatar img {
    height: 100%;
    width: 100%;
}
.rounded-circle {
    border-radius: 50%;
    
}
.flex-row  {
    display: flex;
}
.flex-row  a{
    color: white;
    text-decoration: none;
}
.flex-grow{
    flex-grow: 1;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.center{
    justify-content: center;
}
.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.mx-md{
    margin: 0 1em;
}
li{
    list-style: none;
    cursor: pointer;
}
.login{
    max-height: 40px;
    max-width: 40px;
    height: 40px;
    width: 40px;

}
.px-md{
    padding: 0 1em;
}
h1{
    font-size: 3em;
    margin: 0;
}
.tag-line{
    width: 80%;
    background-color: #00000050;
}
.text-center{
    text-align: center;
}
.menu{
    position: relative;
}
.menu-container{
    position: absolute;
    left: -100%;
    top: 20px;
    height: 0;
    width: 200px;
    visibility: hidden;
    background-color: white;
    transition: height .5s;
}

li:hover .menu-container{
    visibility: visible;
    transition: height .5s;
    height: 200px;
    width: 200px;
    overflow: hidden;
}
.wh-100{
    width: 100%;
    height: 100%;
    background-color: white;
}
.p-md{
    padding: 1em;
}
.menu-item{
    width: 100%;
    padding: .5em;
    border-bottom: 1px solid #00000020;
}
.menu-item:hover{
    background-color: #00000080;
    
}
.menu-item a:hover{
    color: white;
}
.menu-item a{
    text-decoration: none;
    color: #00000080;
    font-size: 16px;
}
ul {
    padding: 0;
}
.login, .nav-menu{
    max-height: 40px;
    max-width: 40px;
    height: 40px;
    width: 40px;
    background-color: blue;
}
.menu-item{
    width: 100%;
    padding: .5em;
    border-bottom: 1px solid #00000020;
}
.menu-item:hover{
    background-color: #00000080;
    
}
.menu-item a:hover{
    color: white;
}
.menu-item a{
    text-decoration: none;
    color: #00000080;
    font-size: 16px;
}
.nav-menu{
    display: none;
}

.nav-bar {
    max-height: 40px;
    max-width: 40px;
    height: 40px;
    width: 40px;
    background-color: blue;
    display: none;
}

.copyright {
    height: 10vh;
    width: 100%;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
}

@media screen and (max-width: 768px) {
    /* Styles pour les écrans de petite taille */
    .Expertise, .Projets {
        flex-direction: column;
        align-items: center;
        height: auto;
        marin: 2rem 0;
    }
    
    p {
        color: steelblue; 
        background-color: black;
        font-size: 1.2em;
    }
    .Expertise{
        background-color: steelblue;
        color: white;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
    
    }
    .Projets{
        background-color: steelblue;
        color: white;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;

    }

    .lien {
        display: none;
    }

    .login {
        display: none;
    }

    .nav-bar {
        display: flex;
    }

    .nav-bar:hover > .lien {
        display: flex;
        position: relative;
        top: 40px;
        right: 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 600;
    }

    .text-milieu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 
    .padding-header{
        padding-bottom: 2rem;
    }

    .aceuil {
        margin-top: 1.5rem;
      
    }
    #file{
        margin: 1rem 1rem;
    }
    #envoie{
       
        width: 100px;
        padding-bottom: 3rem;
        margin:auto 100px;
    }
}
@media screen and (max-width: 768px) {
    #Contact h3 {
        font-size: 6vw;
    }

    #Contact .info {
        font-size: 5vw;
    }
}

@media screen and (max-width: 480px) {
    #Contact h3 {
        font-size: 8vw;
    }

    #Contact .info {
        font-size: 7vw;
    }
    
}
@media screen and (max-width: 768px) {
    .div-infoCadre {
        flex-basis: 100%; /* Permet à chaque élément d'occuper toute la largeur */
    }

    .div-img {
        margin: 0 auto 20px auto;
    }
}

@media screen and (max-width: 480px) {
    .div-img > img {
        max-width: 150px;
    }
}